#example-content { text-align: center; }
#frame { background-color: #A9A9A9; color: #fff; margin: 78px; width: 400px; height: 410px; padding: 30px; }
#image-area { width: 100%; border: 1px dotted #fff; padding-top: 37%; padding-bottom: 40%; margin-bottom: 5px; overflow:hidden; }

.hover { border: 1px solid #fff !important; }